<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>View Patient</title>
</head>
<body>
    <div class="container">
        <h1>Patient Details</h1>
        <p>ID: {{ patient_id }}</p>
        <p>Name: {{ patient_details.name.decode() }}</p>
        <p>Age: {{ patient_details.age.decode() }}</p>
        <p>Diagnosis: {{ patient_details.diagnosis.decode() }}</p>
    </div>
</body>
</html>
